// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Fontawesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

@import "topic_body";

/* User register page */
.register-page {
    img.captcha {
      cursor: pointer;
      border: 1px solid #ced4da;
      border-radius: 4px;
      padding: 3px;
    }
  }


/* Topic Index Page */
.topics-index-page, .categories-show-page {
    margin-bottom: 100px;
  .topic-list {
    .nav>li>a {
      position: relative;
      display: block;
      padding: 5px 14px;
      font-size: 0.9em;
    }

    a {
      color: #444444;
    }

    .meta {
      font-size: 0.9em;
      color: #b3b3b3;

      a {
        color: #b3b3b3;
      }
    }

    .badge {
      background-color: #d8d8d8;
    }

    hr {
      margin-top: 12px;
      margin-bottom: 12px;
      border: 0;
      border-top: 1px solid #dcebf5;
    }
  }
}
.simditor-body img {
  max-width:100%;
}
.topic-reply {
  a {
      color: inherit;
  }

  .meta {
      font-size: .9em;
      color: #b3b3b3;
  }
}

/* 消息通知 */
.notification-badge {
  .badge {
    font-size: 12px;
    margin-top: 14px;
  }

  .badge-secondary {
    background-color: #EBE8E8;
  }

  .badge-hint {
    background-color: #d15b47 !important;
  }
}